.text.active {
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}

.content {
  display: none;
}

.outer {
  padding: 30px;
}

.middle {
  padding: 30px;
}

.inner {
  display: block;
  padding: 20px;
}

#posts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
